#### Data Cleaning, Normalization, Validation & MySQL Insertion

- Load master CSV
- Clean: Handle missing, standardize units/prices, parse dates
- Validate: Flag outliers, outdated (>1 year old), anomalies
- Insert into MySQL database
- Query examples for verification
- Prep for reports & ML

#### Imports & Load Data

In [3]:
import pandas as pd
from pathlib import Path
from datetime import datetime
import sqlalchemy as sa
from sqlalchemy import create_engine, text

DATA_DIR = Path("data")
MASTER_FILE = DATA_DIR / "master_prices_raw_20260218.csv"

df_raw = pd.read_csv(MASTER_FILE)
print(f"Loaded {len(df_raw)} raw items")
display(df_raw.head())
df_raw.info()

Loaded 177 raw items

,category,material,price_text,price_etb,unit,last_checked,detail_url,scraped_at
0,Roofing,Gutter-G-28 Galvanized Steel Recta. Downpipe D...,420.00 Brper m,420.0,m,"May 29, 2024",https://con.2merkato.com/prices/material/6/81,2026-02-18 10:51:34
1,Roofing,Gutter-G-28 Galvanized Steel Recta. Downpipe D...,575.00 Brper m,575.0,m,"May 29, 2024",https://con.2merkato.com/prices/material/6/82,2026-02-18 10:51:34
2,Roofing,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,420.00 Brper m,420.0,m,"May 29, 2024",https://con.2merkato.com/prices/material/6/84,2026-02-18 10:51:34
3,Roofing,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,889.00 Brper m,889.0,m,"Mar 1, 2024",https://con.2merkato.com/prices/material/6/85,2026-02-18 10:51:34
4,Roofing,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,744.00 Brper m,744.0,m,"May 29, 2024",https://con.2merkato.com/prices/material/6/86,2026-02-18 10:51:34

<class 'pandas.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      177 non-null    str
 1   material      177 non-null    str
 2   price_text    177 non-null    str
 3   price_etb     177 non-null    float64
 4   unit          177 non-null    str
 5   last_checked  177 non-null    str
 6   detail_url    177 non-null    str
 7   scraped_at    177 non-null    str
dtypes: float64(1), str(7)
memory usage: 11.2 KB

#### Cleaning & Normalization

In [4]:
df = df_raw.copy()

# 1. Parse last_checked to datetime
df['last_checked_dt'] = pd.to_datetime(df['last_checked'], errors='coerce', format='mixed')

# 2. Calculate days since last checked
today = datetime.now()
df['days_since_update'] = (today - df['last_checked_dt']).dt.days
df['is_outdated'] = df['days_since_update'] > 365  # >1 year

# 3. Standardize units
unit_map = {
    'm': 'meter',
    'kg': 'kilogram',
    'quintal': 'quintal',
    'pcs': 'piece',
    'bag': 'bag',
    'm³': 'cubic_meter',
    'm2': 'square_meter'
}
df['unit_standard'] = df['unit'].str.lower().map(unit_map).fillna(df['unit'].str.lower())

# 4. Price validation: Fill NaN or flag invalid
df['price_etb_valid'] = df['price_etb'].notna() & (df['price_etb'] > 0) & (df['price_etb'] < 100000)  # reasonable upper bound

# 5. Material name cleanup (strip extra spaces, lowercase for consistency)
df['material_clean'] = df['material'].str.strip().str.lower()

# Summary of cleaning
print("Cleaning Summary:")
print(f"Outdated items (>365 days): {df['is_outdated'].sum()} ({df['is_outdated'].mean()*100:.1f}%)")
print(f"Invalid prices: {(~df['price_etb_valid']).sum()}")
print(f"Unique standardized units: {df['unit_standard'].unique()}")

display(df[['material', 'price_etb', 'unit', 'unit_standard', 'last_checked_dt', 'is_outdated']].head(10))

Cleaning Summary:
Outdated items (>365 days): 177 (100.0%)
Invalid prices: 0
Unique standardized units: <StringArray>
[       'meter',        'piece',     'kilogram', 'square_meter',
           'lm',           'pc',            '2',          'pkt',
      'quintal',           'm3',           'qt',          'gal',
           'lt']
Length: 13, dtype: str

,material,price_etb,unit,unit_standard,last_checked_dt,is_outdated
0,Gutter-G-28 Galvanized Steel Recta. Downpipe D...,420.0,m,meter,2024-05-29,True
1,Gutter-G-28 Galvanized Steel Recta. Downpipe D...,575.0,m,meter,2024-05-29,True
2,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,420.0,m,meter,2024-05-29,True
3,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,889.0,m,meter,2024-03-01,True
4,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,744.0,m,meter,2024-05-29,True
5,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,993.0,m,meter,2024-05-29,True
6,15 cm Wide Faciaboard,600.0,m,meter,2024-05-29,True
7,20 cm. Wide Faciaboard,650.0,m,meter,2024-05-29,True
8,G28 Corrugated Galvanized Iron Sheet - Akaki,1335.0,pcs,piece,2024-03-01,True
9,G28 Corrugated Galvanized Iron Sheet - KOSPI,1250.0,pcs,piece,2024-03-01,True

#### Save Cleaned Data

In [5]:
CLEAN_FILE = DATA_DIR / f"master_prices_cleaned_{datetime.now().strftime('%Y%m%d')}.csv"
df.to_csv(CLEAN_FILE, index=False)
print(f"Saved cleaned data to {CLEAN_FILE}")

Saved cleaned data to data\master_prices_cleaned_20260218.csv

#### Load credentials from .env & connect to MySQL

In [11]:
from dotenv import load_dotenv
import os

load_dotenv()

DB_USER     = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST     = os.getenv("MYSQL_HOST", "localhost")
DB_PORT     = os.getenv("MYSQL_PORT", "3306")
DB_NAME     = os.getenv("MYSQL_DATABASE", "construction_prices")

if not all([DB_USER, DB_PASSWORD]):
    raise ValueError("Missing MYSQL_USER or MYSQL_PASSWORD in .env")

engine = create_engine(
    f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

print("Engine created (credentials from .env)")

Engine created (credentials from .env)

#### Insert data

In [12]:
try:
    df.to_sql(
        name      = 'materials_prices',
        con       = engine,
        if_exists = 'replace',          
        index     = False
    )
    print(f"Inserted / replaced {len(df)} rows successfully.")
except Exception as e:
    print("Insertion failed →", str(e))
    print("→ Check: MySQL running? Correct password? Table exists?")

Inserted / replaced 177 rows successfully.

#### Verify insertion with sample queries

In [13]:
try:
    with engine.connect() as conn:
        # Total count
        count_df = pd.read_sql("SELECT COUNT(*) AS total FROM materials_prices", conn)
        print("Rows in table:", count_df.iloc[0,0])

        # Avg price per category
        avg_df = pd.read_sql("""
            SELECT 
                category,
                ROUND(AVG(price_etb), 2) AS avg_price_etb,
                COUNT(*) AS items
            FROM materials_prices
            WHERE price_etb_valid = 1
            GROUP BY category
            ORDER BY avg_price_etb DESC;
        """, conn)
        print("\nAverage price by category:")
        display(avg_df)

        # Recent / fresh items
        recent_df = pd.read_sql("""
            SELECT category, material, price_etb, unit, last_checked
            FROM materials_prices
            WHERE last_checked >= '2024-01-01'
            ORDER BY last_checked DESC
            LIMIT 10;
        """, conn)
        print("\n10 most recent entries:")
        display(recent_df)

except Exception as e:
    print("Verification query failed →", str(e))

Rows in table: 177

Average price by category:

        category  avg_price_etb  items
0      Finishing        3285.90     21
1        Roofing        1053.41     72
2  Concrete Work         832.66     35
3       Painting         603.52     49

10 most recent entries:

,category,material,price_etb,unit,last_checked
0,Concrete Work,Cement - OPC Mugar,720.0,quintal,"Oct 16, 2021"
1,Concrete Work,Cement - OPC Mesebo,320.0,quintal,"Nov 28, 2018"
2,Concrete Work,Cement - OPC Dangote,700.0,quintal,"Nov 20, 2021"
3,Roofing,Gutter-G-28 Galvanized Steel Recta. Downpipe D...,420.0,m,"May 29, 2024"
4,Roofing,Gutter-G-28 Galvanized Steel Recta. Downpipe D...,575.0,m,"May 29, 2024"
5,Roofing,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,420.0,m,"May 29, 2024"
6,Finishing,Ceramic tile: 30cm x 30cm - 7mm thick,2940.0,m2,"May 29, 2024"
7,Roofing,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,744.0,m,"May 29, 2024"
8,Roofing,Gutter-G-28 Galvanized Iron Sheet - Gutter of ...,993.0,m,"May 29, 2024"
9,Roofing,15 cm Wide Faciaboard,600.0,m,"May 29, 2024"